

h1 {
    font-family: 'Geostar Fill', cursive;
    color: aliceblue;
    text-align: center;
}

h2{
    color: aliceblue;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

button {
    width: 100%;
}

h5 {
    font-weight: bold;
}
.card-body{
    font-family: 'Saira Extra Condensed', sans-serif;
}

.card {
    max-height: 250px;
    max-width: 250px;
}

#chosenCharacter {
    float: right;
}

#opponentCard {
    float: left;
}

#goodGuysDeck {
    float: right;
}

#badGuysDeck {
    float: left;
}

#gameInstructionsPopOver{
    font-family: 'Saira Extra Condensed', sans-serif;

}