

h1 {
    font-family: 'Geostar Fill', cursive;
    color: aliceblue;
    text-align: center;
}

h2 {
    text-align: center;
    color: aliceblue;
}

button {
    width: 100%;

}

#playbtn {
    width: 10%;
 
}

p{
    font-family: 'Saira Extra Condensed', sans-serif;
}
