

h1 {
    font-family: 'Geostar Fill', cursive;
    color: aliceblue;
    text-align: center;
}

h2 {
    text-align: center;
    color: aliceblue;
}

button {
    width: 100%;
}

p{
    font-family: 'Saira Extra Condensed', sans-serif;
}

.card {
    max-height: 250px;
    max-width: 250px;
}

#chosenCharacter {
    float: right;
}

#opponentCard {
    float: left;
}

#goodGuysDeck {
    float: right;
}

#badGuysDeck {
    float: left;
}